#coachingLogAttachments {
	display: block;
	margin: 0px;
}

#coachingLogAttachments div.status {
	height: 27px;
	width: 500px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 50%;
	text-align: right;
	position: relative;	
}

#coachingLogAttachments div.status #defaulttext {
   visibility: visible;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
    color: #cccccc;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: thin solid #ffd100;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#coachingLogAttachments div.status #f1_upload_process {
   visibility: hidden;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
    color: #cccccc;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: thin solid #ffd100;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#coachingLogAttachments div.status div.success {
	visibility: hidden;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	color: #8A2003;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	border: thin solid #ffd100;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fff19b;
	background-image: url(/assets/images/icons/check.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}

#coachingLogAttachments div.status div.warning {
	visibility: hidden;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	color: #8A2003;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	border: thin solid #ffd100;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #fff19b;
	background-image: url(/assets/images/icons/warning.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}

#coachingLogAttachments div.coachingLogUploads {
	height: 27px;
	width: 500px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 15px;
	margin-left: 50%;
	position: relative;	
}

#general {
	position: relative;
    width: 500px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

#f1_upload_form {
	width: 500px;
	font-size: 12px;
	color: #cccccc;
	text-align: center;
}

div.stivlo-fileupload-buttonbar {
    height: 25px;
	width: 100px;
    margin: 0px 0px 0px 0px;
	display: inline;
}

#general input.stivlo-file-upload {
    z-index:2;
    position: absolute;
    top: 0px;
    left: 0px;
	height: 25px;
	width: 90px;
    margin: 5px 5px 5px 10px;
	opacity: 0;
    filter: alpha(opacity=0);
}

#general #submit, #general label.stivlo-file-upload {		
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    height: 25px;
    width: 100px;
    margin: 5px 0px 5px 1px;
    padding: 0;
    cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
    color: #8f5a0a;
	display: inline;
}
#general label.stivlo-file-upload {		
    height: 25px;
    width: 100px;
    margin: 0px 0px 0px 0px;
    padding: 4px 8px 4px 8px;
}

#general #submit:hover, #general #submit:focus, #general label.stivlo-file-upload:hover {		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	

#theList, #currentList {
	position: relative;
	text-align: right;
}

#currentList ul {
	margin: 0px 0px 0px 0px;
	padding:  0px 0px 0px 0px;
}

#currentList ul li {
	margin: 10px;
	list-style-type: none;
	display: inline;
	white-space: nowrap;
}

#currentList ul li img {
	border: none;
	margin: 0px;
}

#currentList ul li .filename {
	font-size: 12px;
	color: #C0B6AC;
}

#currentList ul li img.filetype {
	vertical-align: baseline;
}

#currentList ul li img.delete {
	vertical-align: central;
	
}
form.delete {
	display: inline;
}